.card {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 25rem;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}