<div class="row" style="padding-top: 10vh; align-items: center; overflow: scroll">
    <div class="col-md-1"></div>
    <div class="card" style="width: 20rem;">
        <img src="../../assets/images/plant.png" class="card-img-top" style="width: 50%;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Plant Care</h5>
            <p class="card-text"> 
                An Android app capable of watering and monitoring your plant with a Raspberry Pi.    
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Intelligent watering cycles</li>
            <li class="list-group-item">Monitors temperature, humidity, and soil moisture content</li>
            <li class="list-group-item">Remote access over WiFi</li>
        </ul>
        <div class="card-body">
            <a href="https://github.com/matthewstaylor/PlantCare" target="_blank" class="card-link">GitHub</a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>