<div class="row" style="padding-top: 10vh; align-items: center; overflow-y: scroll">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card" style="width: 20rem; height: 36rem; border-color: black;">
            <img src="../../assets/images/plant.png" class="card-img-top" style="width: 50%; height: 25rem; align-self: center;"
                alt="...">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center; padding-bottom: 1rem">Plant Care</h3>
                <p class="card-text">
                    An Android app capable of watering and monitoring your plant with a Raspberry Pi.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Intelligent watering cycles</li>
                <li class="list-group-item">Monitors temperature, humidity, and soil moisture content</li>
                <li class="list-group-item">Remote access over WiFi</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/matthewstaylor/PlantCare" target="_blank" class="card-link">GitHub</a>
                <a href="https://www.youtube.com/watch?v=J9BDJWmtq6s" target="_blank" class="card-link">Video Demo</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 20rem; height: 36rem; border-color: black;">
            <img src="../../assets/images/testbot.png" class="card-img-top" style="width: 100%; height: 100%; align-self: center;"
                alt="...">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center; padding-bottom: 1rem">Discord Bot</h3>
                <p class="card-text">
                    An interactive bot on Discord, capable of many features on any server.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Responses to messages</li>
                <li class="list-group-item">Commands to assist users</li>
                <li class="list-group-item">Advanced features such as Magic 8-Ball replies</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 20rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>