.bg-image {
    //background-image: url("../assets/images/source-code-background.jpg");
    background-color: #1F2833;
    background-repeat: no-repeat;
    /* Full height */
    max-width: 100%;
    max-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}


@media only screen and (min-width: 0px) {
    .dropdown-menu {
        width: 10%;
    }
}

@media only screen and (min-width: 992px) {
    .dropdown-menu {
        width: 100%;
    }
}