<div class="row" style="padding-top: 10vh;">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="background">
      <div class="card">
        <img class="card-img-top" src={{mainImg}} style="padding: 1rem;" alt="Matthew Taylor">
        <div class="card-body">
          <h5 class="card-title">Matthew Taylor</h5>
          <p class="card-text">Computer Science student at Florida Atlantic University</p>
          <p class="card-text">Aspiring professional software developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="card-welcome">
      <div class="card-header" style="text-align: center; font-size: large; font-weight: bold; background-color:#45A29E">
        Software Development Portfolio
      </div>
      <div class="card-welcome-body">
        <h5 class="card-title">Hello, and welcome to my portfolio!</h5>
        <p class="card-text" style="padding: 3vh">
          My name is Matthew Taylor, I am a Senior at Florida Atlantic University studying Computer Science. 
          I have worked on multiple different projects throughout my career, from web application development to embedded software working with aerial drones. 
          I also enjoy developing IoT projects with Raspberry Pi and other microcontrollers, interfacing with different sensors to complete a goal.
        </p>
        <p class="card-text" style="padding-left: 3vh; padding-right: 3vh">
          I have experience with several modern programming languages and frameworks such as:
        </p>
        <div class="row" style="padding-bottom: 3vh;">
          <div class="col-md-6">
            <ul style="margin-left: 3vh">
              <li>Java</li>
              <li>Python</li>
              <li>JavaScript</li>
              <li>C++</li>
            </ul>
          </div>
          <ul style="margin-left: 3vh">
            <li>ReactJS / React Native</li>
            <li>Angular</li>
            <li>Spring Boot</li>
            <li>Flask</li>
          </ul>
        </div>
        <p class="card-text" style="padding-left: 3vh; padding-right: 3vh">
          You can see my past and current projects in the Projects section. Also, please feel free to reach out with any questions with the Socials section.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>